/*This is just a backup CSS equivalent with recommended settings working with APC Customize UI extension*/
.monaco-workbench .part.activitybar>.content {
    background-image: url('https://64.media.tumblr.com/54d3fca992acbabb3441c57196add523/a9160834f5fb85d1-4e/s540x810/4a6181885debf3d273f152c6376e8bffb50c7e8d.pnj');
    background-size: 600%;
    background-position: left 5% bottom 10%; /*Adjust as needed*/
    background-blend-mode: soft-light; /*Adjust as needed*/
    background-repeat: repeat;
    background-color: #585858; /*Adjust as needed*/
}
.monaco-workbench .pane-composite-part>.header-or-footer {
    background-image: url('https://64.media.tumblr.com/54d3fca992acbabb3441c57196add523/a9160834f5fb85d1-4e/s540x810/4a6181885debf3d273f152c6376e8bffb50c7e8d.pnj');
    background-size: 100%;
    background-position: left 0% bottom 40%; /*Adjust as needed*/
    background-blend-mode: soft-light; /*Adjust as needed*/
    background-repeat: no-repeat;
    background-color: #585858; /*Adjust as needed*/
}